/* if you have 100 page website, you can have one external
stylesheet that links to all of the pages */

/* if you have the same style listed twice, the later 
will overwrite thr first.
for example a{color: red;} a{color: blue;} will make the text blue */

.navbar ul{
    list-style-type: none;
    background-color: #333333;
    padding: 0px;
    margin: 0px;
    }
    
.navbar ul li{
  background-color: #ff6600;
  text-decoration: #007BFF;
  }

    .navbar a{
        color: white;
        text-decoration: none;
        padding: 10px ;
        display: block;
        text-align: center;
        overflow: hidden;
    }
    .navbar a:hover{
        background-color: hsl(0, 0%, 10%)
    }
 

    a.navBG{
        color: rgb(8, 6, 6);
    }


    a: visited {
        color: purple;
    }
 
    

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #9c7373;

}

h1 {
    color: #333;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;   
    font-style: italic; 
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.small-image {
    width: 300px; /* or any other value you prefer */
    height: auto; /* maintains the aspect ratio */
}


.bigbold {
    font-weight: bold;
    font-style: italic;
    font-size: 1.5rem;
    grid: 1;
}

main {
    margin-left: 40px;
    margin-right: 40px;
} 

